@use '../abstracts/' as *;

:root {
  --navbar_height: 0;
  --header_height: 0;
  --page_width: 1440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  font-size: 16px;
  font-family: $fontStack2;
  color: inherit;
  background-color: #000;
}
