@use '../abstracts' as *;

$headerSidePadding: 2rem;
$headerTopBottomPadding: 1rem;

h1 {
  @include heading-mixin(clamp(1.75rem, 4vw, 3rem));
}

h2 {
  @include heading-mixin(clamp(1.5rem, 3vw, 2.5rem));
}

h3 {
  @include heading-mixin(clamp(1.5rem, 2vw, 2rem));
}

p {
  @include text-mixin(clamp(1rem, 1.75vw, 1.25rem));
}

a {
  @include text-mixin(clamp(1.2rem, 2vw, 1.5rem));
  user-select: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);

  &:hover {
    border-bottom: 1px solid #fff;
  }
}

.small {
  @include text-mixin(clamp(0.8rem, 1.25vw, 1.15rem));
}
