@use '../abstracts' as *;

h1 {
  font-family: $fontStack1;
  font-weight: 300;
  color: $lightFontColor;
  font-size: $heading1Size;
}

h2 {
  font-family: $fontStack1;
  font-weight: 300;
  font-size: $heading2Size;
}

p {
  font-family: $fontStack2;
  font-size: $paraSize;
}

a {
  text-decoration: none;
  cursor: pointer;
}
