$lightFontColor: rgb(255, 255, 255);
$darkFontColor: rgb(0, 0, 0);
$lightBackgroundColor: rgb(255, 255, 255);
$darkBackgroundColor: rgb(0, 0, 0);
$headerBackground: rgb(255, 255, 255);
$mainBackground: rgb(255, 255, 255);
$footerBackground: rgb(255, 255, 255);
