@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Roboto:wght@300;500&display=swap';

$fontStack1: 'Roboto', 'Arial', sans-serif;
$fontStack2: 'Lato', 'Helvetica', sans-serif;
$heading1Size: clamp(2rem, 4vw, 3rem);
$heading2Size: clamp(1.5rem, 3vw, 2.5rem);
$paraSize: clamp(1rem, 3vw, 1.5rem);

$headerSidePadding: 2rem;
$headerTopBottomPadding: 1rem;
