@use './fonts' as *;
@use './colors' as *;
@use './functions' as *;

@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
  svg path {
    fill: set-text-color($color);
  }
  svg path + path {
    fill: $color;
  }
}

@mixin heading-mixin($fontSize) {
  font-family: $fontStack1;
  font-weight: 300;
  color: $lightFontColor;
  font-size: $fontSize;
}
