@use '../abstracts' as *;

:root {
  --navbar_height: 0;
  --header_height: 0;
  --page_width: 1440px;
}

html {
  scroll-behavior: smooth;
  // scroll-snap-type: y mandatory;
}

body {
  font-size: 16px;
  font-family: $fontStack2;
  color: inherit;
  background-color: #000;
}

.home-wrapper {
  position: relative;
  min-height: 100vh;
  max-width: var(--page_width);
  margin: 0 auto;

  //* mobile
  .welcome,
  .portfolio,
  .contact {
    padding-top: var(--navbar_height);
    padding-bottom: var(--navbar_height);
    // scroll-snap-align: start;
  }
}

//* laptop
@media (min-width: $mediumBreakpoint) {
  .home-wrapper {
    .welcome,
    .portfolio,
    .contact {
      padding-bottom: 0;
    }
  }
}
