@use '../abstracts' as *;

$navbarHeight: 5rem;

:root {
  --header_height: 0;
  --page_width: 1440px;
}

body {
  font-size: 16px;
  font-family: $fontStack2;
  color: inherit;
  background-color: #000;
}

.home-wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header' 'main' 'navbar';

  .header {
    grid-area: header;
  }

  .navbar {
    grid-area: navbar;
  }

  .main-container {
    grid-area: main;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 100%);
    grid-template-areas: 'welcome' 'portfolio' 'contact';

    section {
      scroll-snap-align: start;
    }
  }
}

//* laptop
@media (min-width: $mediumBreakpoint) {
  .home-wrapper {
    grid-template-columns: auto auto;
    justify-content: space-between;
    grid-template-areas:
      'header navbar'
      'main main';

    .main-container {
      scroll-snap-type: none;

      section {
        scroll-snap-align: none;
      }
    }
  }
}
