@use '../pages' as *;

.project-card {
  // height: calc(100vh - (var(--navbar_height) * 2));
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  // background-image: url('../assets/images/piano-image.jpg');
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position: 40% 50%;

  .project-title {
  }

  .project-links {
    flex-grow: 4;
    .project-live-link {
    }

    .project-repo-link {
    }
  }
}
