@use '../abstracts' as *;
@use '../pages' as *;

.project-card {
  height: 100%;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2rem;
  background: rgb(48, 48, 48);
  color: #fff;

  .project-title {
    font-size: 2rem;
  }

  .project-image {
    object-fit: contain;
    width: 100%;
    border-radius: 0.25rem;
  }

  .project-description {
    font-size: 1.25rem;
  }

  .project-links {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    a {
      color: #fff;
      &:hover,
      &:active,
      &:visited {
        color: #fff;
      }

      border: 1px solid rgba(0, 0, 0, 0);

      &:hover {
        border-bottom: 1px solid #fff;
      }
    }
    .project-live-link {
    }

    .project-repo-link {
    }
  }
}

@media (min-width: $mediumBreakpoint) {
  .project-card {
    height: auto;
    .project-image {
    }
  }
}
