@use '../abstracts' as *;
@use '../pages' as *;

.project-card {
  height: 100%;
  display: grid;
  grid-gap: 1vh;
  // justify-items: space-evenly;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  // border: 1px solid rgb(48, 48, 48);
  border-radius: 0.5rem;
  padding: 2rem;
  @include set-background(rgb(45, 45, 45));

  .project-image {
    object-fit: cover;
    width: 100%;
    // max-height: 50%;
    border-radius: 0.25rem;
  }

  .project-links {
    display: flex;
    justify-content: space-evenly;

    a {
      @include set-background(rgba(0, 132, 255, 0.811));
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.55);
      display: flex;
      gap: 0.5rem;
      align-items: center;
      margin: 1.5rem 0;
      padding: 0.5rem 1rem;
      border-radius: 5000px;
      border: none;
      align-self: center;
      transition: all 200ms ease-in-out;

      &:hover {
        transform: scale(1.025);
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.45);
      }

      &:active {
        transform: scale(0.975);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.85);
      }
    }
  }
}

@media (min-width: $mediumBreakpoint) {
  .project-card {
    .project-image {
      // height: auto;
      object-fit: cover;
      object-position: center center;
    }
    .project-links {
      a {
        font-size: 1rem;
      }
    }
  }
}
