@use '../abstracts' as *;
@use '../base' as *;
@use '../components/' as *;

// mobile
.main-header {
  background-image: radial-gradient(
      rgba(255, 255, 255, 0.128),
      rgba(255, 255, 255, 0.432)
    ),
    url('../assets/images/headshot.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% center;

  display: grid;
  // overflow: hidden;
  grid-gap: 2rem;
  grid-template-rows: 1fr min-content min-content;
  grid-template-columns: auto;
  grid-template-areas:
    'top'
    'about'
    'skills';
  align-content: space-between;
  margin: 0;

  .top {
    grid-area: top;
    overflow: initial;
    // align-self: start;
    // min-height: 15rem;
    // min-width: 15rem;

    // background-position: 10% 5%;
  }

  .about {
    padding: 1rem;
    // margin-top: 15rem;
    // @include set-background($lightBackgroundColor);
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
  }

  .icons-container {
    margin-bottom: clamp(1rem, 1vh, 2rem);
    overflow: hidden;
    grid-area: skills;

    .tech-icons {
      width: 200%;
      display: flex;
      justify-content: space-around;
      animation: icon-carousel 10s linear infinite;
    }
  }

  @keyframes icon-carousel {
    0% {
      // margin-left: 0px;
      transform: translateX(0);
    }
    100% {
      // margin-left: -100%;
      transform: translateX(-50%);
    }
  }
}

@media (min-width: $mediumBreakpoint) {
  .main-header {
    // margin: 1vw;
    // grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-template-areas:
      'top'
      'about'
      'skills';

    .top {
      background-position: 90% 5%;
    }
  }
}

@media (min-width: $largeBreakpoint) {
  .main-header {
    // margin: 1rem;
    // grid-template-rows: min-content min-content min-content;
    grid-template-columns: auto;
    grid-template-areas:
      'top'
      'about'
      'skills';
  }
}
