@use '../abstracts' as *;
@use '../base' as *;
@use '../components/' as *;

//* mobile
.main-header {
  background-image: radial-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 1)),
    url('../assets/images/desk-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 46% 80%;

  display: grid;
  // grid-gap: 2rem;
  grid-template-rows: min-content min-content 1fr;
  grid-template-columns: auto;
  grid-template-areas:
    'top'
    'about'
    'skills';
  align-content: space-between;

  .top {
    grid-area: top;
    overflow: initial;
    background-image: linear-gradient(#000, rgba(0, 0, 0, 0.509));
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

    a {
      color: #fff;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .about {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
  }

  .icons-container {
    align-self: end;
    margin-bottom: clamp(1rem, 1vh, 2rem);
    overflow: hidden;
    grid-area: skills;

    .tech-icons {
      width: 200%;
      display: flex;
      justify-content: space-around;
      animation: icon-carousel 10s linear infinite;
    }
  }

  @keyframes icon-carousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

@media (min-width: $mediumBreakpoint) {
  .main-header {
    // margin: 1vw;
    // grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-template-areas:
      'top'
      'about'
      'skills';

    .top {
      background-position: 90% 5%;
    }
  }
}

@media (min-width: $largeBreakpoint) {
  .main-header {
    // margin: 1rem;
    // grid-template-rows: min-content min-content min-content;
    grid-template-columns: auto;
    grid-template-areas:
      'top'
      'about'
      'skills';
  }
}
