@use '../abstracts' as *;
@use '../base' as *;

.header {
  padding: 0 1rem;
  text-align: center;
}

@media (min-width: $mediumBreakpoint) {
  .header {
    text-align: left;
    margin-left: 1rem;
    padding: 0;
  }
}
