@use '../abstracts/fonts' as *;

.header {
  position: fixed;
  top: 0;
  max-width: var(--page_width);
  background-image: linear-gradient(#000, rgba(0, 0, 0, 0.5));

  a > h1 {
    margin: 1rem;
  }
}
