@use '../abstracts' as *;
@use '../pages' as *;
.navbar {
  grid-area: navbar;
  background-image: linear-gradient(#000, rgba(0, 0, 0, 0.5));
  display: flex;
  color: #fff;
  position: fixed;
  top: auto;
  bottom: 0;
  width: 100%;
  height: $navbarHeight;
  z-index: 2;

  .nav-links {
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), #000);

    li {
      border-bottom: 1px solid rgba(255, 255, 255, 0);
      a {
        cursor: pointer;
        user-select: none;
        color: #fff;
        font-size: 1.2rem;
      }

      &:hover {
        border-bottom: 1px solid #fff;
      }
    }
  }
}

@media (min-width: $mediumBreakpoint) {
  .navbar {
    // position: fixed;
    bottom: auto;
    // right: 0;
    // width: 35%;
    // width: auto;
    .nav-links {
      // width: auto;
      // background-image: none;
      // margin-right: 1rem;
      justify-content: flex-end;
    }
  }
}
