@use '../abstracts' as *;
@use '../base' as *;

.portfolio {
  grid-area: portfolio;
  background-color: #000;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  display: grid;
  grid-gap: 1rem;
  grid-auto-columns: 100%;
  grid-auto-flow: column;

  .project-card {
    scroll-snap-align: start;
  }
}

@media (min-width: $mediumBreakpoint) {
  .portfolio {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-flow: row;
    scroll-snap-type: none;
    overflow-x: initial;

    .project-card {
      scroll-snap-align: none;
    }
  }
}
