@use '../abstracts' as *;
@use '../base' as *;
@use '../components/' as *;

.welcome {
  max-width: 100vw;
  grid-area: welcome;
  background-image: radial-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 1)),
    url('../assets/images/desk-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 46% 80%;
}
