@use '../abstracts' as *;
@use '../base' as *;
@use '../components/' as *;

.welcome {
  grid-area: welcome;
  min-height: 100vh;
  background-image: radial-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 1)),
    url('../assets/images/desk-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 46% 80%;

  .icons-container {
    overflow: hidden;
    background-color: #000;
    z-index: 1;

    .tech-icons {
      width: 200%;
      display: flex;
      justify-content: space-around;
      animation: icon-carousel 10s linear infinite;
    }
  }

  @keyframes icon-carousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
